Package: com.person.emojiporter12
Name: EmojiPorter (12)
Version: 1.0
Architecture: iphoneos-arm
Depends: com.ps.emojiportpe, mobilesubstrate, firmware (>= 12.0), curl
Author: xxthepersonx
Section: Tweaks
Description: Installs the latest emojis to your device! For iOS 12 ONLY, make sure to add "https://poomsmart.github.io/repo/" to your repo list before installing! Warning: an extra ~70mb is needed to download new emojis
Maintainer: xxthepersonx
