Package: com.person.volumepercent12
Name: VolumePercent12
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Add a percentage label to your volume HUD!
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
Depiction: https://xxthepersonx.github.io/repo/depictions/?p=com.person.volumepercent12
