Package: com.person.snwb
Name: SafariNoSwipeBacks
Description: Disables backward and forward swiping in safari!
Version: 1.0.1
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate
Maintainer: xthepersonx
Author: xthepersonx
