Package: com.person.sbwy
Name: SBWelcomesYou
Depends: mobilesubstrate
Version: 1.1.2
Architecture: iphoneos-arm
Description: plays the windows startup sound when you respring your device! Also supports custom sounds! Version  1.1.2 adds an option to play sound early!
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
