Package: com.person.volbuttonbrightness
Name: VolButtonBrightness
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Change the brightness with your volume buttons!
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
Version: 1.0.2
Installed-Size: 216
