Package: com.person.btspotify
Name: BackTrackSpotify
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Skip to previous track every time back skip button is pressed. No more restarting my songs!
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
