Package: com.person.volumepercent12
Name: VolumePercent12
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
Version: 0.0.1
Installed-Size: 116
