Package: com.person.dcv
Name: DontChangeTheVolume
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Disables Changing volume with volume buttons
Maintainer: xxthepersonx
Author: xxthepersonx
Section: Tweaks
